<%= form_with(model: questionary_item, local: true) do |form| %>
  <% if questionary_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionary_item.errors.count, "error") %> prohibited this questionary_item from being saved:</h2>

      <ul>
      <% questionary_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class= "questionary-field">
※このアンケート識別番号は<%= form.number_field :questionary_id %>です。
この数字は変更しないでください。</div>


  <div class="row mt-3">
  　<div class="col">
    <div class= "questionary-label"><%= form.label :"質問内容" %>  </div>
    <div class= "questionary-field"><%= form.text_area :content, :size=>"70" %>  </div>
  </div>
</div>

  <div class="row mt-2">
  　<div class="col">
    <%= form.submit :"選択肢を作成する" %>
  </div>
</div>
<% end %>
