<%= form_with(model: questionary_choice, local: true) do |form| %>
  <% if questionary_choice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionary_choice.errors.count, "error") %> prohibited this questionary_choice from being saved:</h2>

      <ul>
      <% questionary_choice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class= "questionary-field">  
※この質問識別番号は<%= form.number_field :questionary_item_id %>です。
この数字は変更しないでください。</div>


  <div class="row mt-3">
  　<div class="col">
    <div class= "questionary-label"><%= form.label :"選択肢の内容" %></div>
    <div class= "questionary-field"><%= form.text_area :content %></div>
  </div>
</div>

  <div class="row mt-3">
  　<div class="col">
    <div class= "questionary-label"><%= form.label :"選択肢番号" %></div>
    <div class= "questionary-field"><%= form.number_field :value %></div>
  </div>
 </div> 
  
  <div class="row mt-3">
  　<div class="col">
    <%= form.submit :"この選択肢を作成" %>
  </div>
 </div> 
<% end %>
