  <div class="row">
    <div class="col">
      <h3 class="text-center bg-light"><strong><%= @post.title %></strong></h3>

  <table class="table table-borderless">
    <tr>
    <td><h5><strong>投稿日時</strong></h5></td>
    <td><h5><strong><%= @post.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M:%S') %></strong></h5></td>
    </tr>
  </table>

   <table class="table table-bordered">
    <tbody>
      <tr>
       <th class="bg-light">タイトル</th>
       <td class="bg-light"><%= @post.title %></td>
      </tr>
      <tr>
       <th class="bg-light">掲示場所</th>
       <td class="bg-light">
    <% if @post.in_front == true %>
      <i class="fas fa-bullseye red"></i>トップに掲示中
    <% elsif @post.in_front == false %>
      <i class="fas fa-bullseye blue"></i>掲示板のみ掲示中
    <% end %>
      </td>
     </tr> 
      </tbody>
    </table>

 <div class="bg-light mt-2 mb-2 pl-3"><strong>お知らせ本文</strong></br><%= @post.post_text %></div>
 <div class="image-box mt-3"><%= attachment_image_tag @post, :image, size: "300x300" %></div>
 
  </div>
</div> 
 
<div class="row mt-3">
　<div class="col"> 
  <h5>コメント</h5>
   <table class="table table-hover bg-light">
    <tr>
     <th>氏名</th>
     <th>コメント</th>
     <th></th>
    </tr>
 
   <% @post.post_comments.each do |post_comment| %>          
    <tr>
	 <td><%= post_comment.user.name %></td>
  	 <td><%= post_comment.comment %></td>
     <% if current_user == post_comment.user %>
　　 <td><%= link_to 'コメントを削除', users_community_post_post_comment_path(post_id: @post.id, id: post_comment.id), class: 'btn-sm btn-danger', method: :delete, remote: true %></td>
     <% end %>  
    </tr>
   <% end %>    
   </table>

 <table>
   <tr>
    <%= form_with model:[@post,@post_comment], url: users_community_post_post_comments_path(post_id: @post.id), mthod: :post, local:true do |f| %>
    <td><%= f.text_area :comment, size:"60x2" %></td>
    <td><%= f.submit 'コメントを送信', class: "btn btn-success" %></td>
    <% end %>
   </tr>
 </table>

  </div>
</div>

<%= link_to "コミュニティトップに戻る", users_community_path(id: @post.community.id), class: 'btn btn-info mb-2' %>

