<%= form_with(model: questionary, local: true) do |form| %>
  <% if questionary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionary.errors.count, "error") %> prohibited this questionary from being saved:</h2>

      <ul>
      <% questionary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  　<div class="col">
    <div class= "questionary-label"><%= form.label :"タイトル" %></div>
    <div class= "questionary-field"><%= form.text_field :title, :size=>"40" %></div>
  　</div>
  </div>
  
  <div class="row">
  　<div class="col">
    <div class= "questionary-label"><%= form.label :"概要説明" %></div>
    <div class= "questionary-field"><%= form.text_area :description, :size=>"50" %></div>
  　</div>
  </div>
  
  <div class="row">
  　<div class="col">
    <%= form.label :締め切り日時 %>
    <%= form.datetime_select :deadline %>
  　</div>
  </div>

  <div class="row　mt-4">
  　<div class="col">
    <div class= "questionary-label"><%= form.label :"コミュニティID" %></div>
    <div class= "questionary-label">アンケート作成を作成するコミュニティの『ID』を入力してください</div>
    <div class= "questionary-field"><%= form.number_field :community_id %></div>
  　</div>
  </div>

  <div class="row mt-2">
  　<div class="col">
    <%= form.submit :"質問を作成する" %>
  　</div>
  </div>
<% end %>
