<div class="row ml-5">
  <div class="col">

<p id="notice"><%= notice %></p>

<p>
<h1 class = "title">
  <%= @questionary.title %></h1>
</p>

<p>
<h1 class = "title">
  <%= @questionary.community_id %>
  <%= @questionary.community.name %></h1>
</p>

<p class = "description">
  <strong>アンケート概要説明:</strong>
  <%= @questionary.description %>
</p>

<p class = "deadline">
  <strong>締め切り日時:</strong>
  <%= @questionary.deadline %>
</p>


<div class ="items">

<%= form_tag(action:'show', id: @questionary.id) %>
<% count_items = 0 %>

<% @questionary.questionary_item.each do |item| %>
<p class = "q"><%= item.content %></p>
<% count_items += 1 %>
<% count_choices = 0 %>

<% item.questionary_choice.each do |choice| %>
<% count_choices += 1 %>

<div class ="choice">
  <input type= "radio" id="<%= count_items.to_s + '_' + count_choices.to_s %>"
   name="r<%= count_items.to_s %>"  value="<%= choice.value %>">

<label for="<%= count_items.to_s + '_' + count_choices.to_s %>">
<%= choice.content %></label> 
</div>
<% end %>
<hr>
<% end %>

<% if user_signed_in? %>
<%= submit_tag '回答を送信する' %>
<%= link_to 'コミュニティページに戻る', users_community_path(@questionary.community_id), class: 'btn btn-info m-3' %>
<% end %>

</form>

</div>

<% if admin_signed_in? %>
<%= link_to 'タイトル、概要説明、締め切りを変える', edit_questionary_path(@questionary), class: 'btn btn-success m-3' %> |
<%= link_to 'アンケートの結果を見る', questionary_result_path(@questionary), class: 'btn btn-success m-3' %> 
<%= link_to 'コミュニティページに戻る', admins_community_path(@questionary.community_id), class: 'btn btn-info m-3' %>
<% end %>

</div>
</div>