 <div class="row pb-2">
  <div class="col">
   <h3 class="text-center"><strong>コミュニティ＜一覧＞</strong></h3>
   
 <div class= "col-4 mb-3">
 <%= render 'layouts/search' %>
</div>

 <table class="table table-hover">
   <thead class="bg-light">
    <tr>
     <th>コミュニティID</th>
     <th>コミュニティ名</th>
     <th>詳細リンク</th>
    </tr>
   </thead>
   <% @communities.each do |community| %>
   <tbody>
    <tr>
     <td class="pl-5 bg-light"><strong><%= community.id %></strong></td>
     <td class="bg-light">
    　 <%= link_to users_community_path(community.id) do %>
       <%= community.name %>
      <% end %>
     </td>
     <td class="bg-light">
    　 <%= link_to "詳細ページ", users_community_path(community.id), class: 'btn btn-info' %></td>
    </tr>
   </tbody>
   <% end %>
  </table>
  <%= paginate @communities %>
   </div>
 </div>
 
