  <div class="row">
    <div class="col">
      <h3 class="text-center mt-3"><strong><%= @community.name %>コミュニティページ</strong></h3>
        <% if @community.belonged_by?(current_user) %>
    <p>
      <%= link_to users_community_belongs_path(@community), class: "btn btn-danger", method: :delete do %>
       所属を解除
      <% end %>
      所属数<%= @community.belongs.count %> 
    </p>
    <% else %>
    <p>
      <%= link_to users_community_belongs_path(@community), class: "btn btn-success", method: :post do %>
    　所属する
      <% end %>
      所属数<%= @community.belongs.count %>
    </p>
  <% end %>
      
   <h5><strong>登録情報</strong></h5>    
   <table class="table table-bordered">
    <tbody>
      <tr>
       <th class="bg-light">コミュニティ名</th>
       <td class="bg-light"><%= @community.name %></td>
       </tr>
       <tr>
        <th class="bg-light">概要説明</th>
        <td class="bg-light"><%= @community.introduction %></td>
       </tr>
      </tbody>
    </table>

  </div>
</div>    
    
<div class="row mt-5">
  <div class="col">
    <h5><strong>お知らせ掲示板</strong><%= link_to "全てを表示", users_community_posts_path(@community), class: "btn btn-success ml-2" %></h5>

   <table class="table table-bordered">
    <tbody>
    <% @posts.each do |post| %>
     <% if post.in_front == true %>
     <tr> 
     <td class="bg-light"><%= link_to  users_community_post_path(community_id: post.community_id, id: post.id)  do %><%= post.title %><% end %></td>
     <th class="bg-light"><%= post.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M:%S') %></th>
      </tr>
     <% end %> 
    <% end %> 
     </tbody>
    </table>
    
  </div>
</div>
