<div class="row">
 <div class="col">
      <h3 class="text-center"><strong>＜掲示板＞お知らせ一覧</strong></h3>
   <%= link_to "コミュニティトップに戻る", users_community_path(id: @community.id), class: 'btn btn-info mb-2' %>
   <%= link_to "お知らせ作成", new_admins_community_post_path, class: "btn btn-success btn-block mb-2" %>
   <table class="table table-bordered bg-light">
    <tbody>
      <% @posts.each do |post| %>     
     <tr> 
      <td><%= link_to admins_community_post_path(community_id: post.community_id, id: post.id) do %><%= post.title %><% end %></td>
      <td><%= post.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M:%S') %></td>
     </tr>
      <% end %>
    </tbody>
   </table>
   

         <%= paginate @posts %>
 </div>  
</div>