<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      <h3 class="text-center bg-light"><strong><%= @post.title %></strong></h3>
    </div>
  </div>
  
  <div class="row make">
    <div class="col-5">
      <table class="table table-borderless">
        <tr>
          <td><h5><strong>投稿日時</strong></h5></td>
          <td><h5><strong><%= @post.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M:%S') %></strong></h5></td>
        </tr>
      </table>
    </div>
  </div>  
 
<div class="row">
 <div class="col-9">
   <table class="table table-bordered">
    <tbody>
      <tr>
       <th class="bg-light">タイトル</th>
       <td><%= @post.title %></td>
      </tr>
      <tr>
       <th class="bg-light">掲示場所</th>
       <td>
    <% if @post.in_front == true %>
      <i class="fas fa-bullseye red"></i>トップに掲示中
    <% elsif @post.in_front == false %>
      <i class="fas fa-bullseye blue"></i>掲示板のみ掲示中
    <% end %>
      </td>
     </tr> 
      </tbody>
    </table>

 <div><%= @post.post_text %></div>

    <%= attachment_image_tag @post, :image, size: "300x300" %>
    
     <%= link_to "編集する", edit_admins_community_post_path(@post), class: "btn btn-success mt-4" %>
   </div> 
 </div>
</div> 
 
<div class="container mt-5">
 <div class="row">
  <div class="col-md-5 mt-5">
  <h5>コメント</h5>
  </div>
 </div>
 
 <table class="table table-hover">
  <tr>
   <th>氏名</th>
   <th>コメント</th>

  </tr>
         
  <tr>
    <% @post.post_comments.each do |post_comment| %>  
  	<td><%= post_comment.user.name %></td>
  	<td><%= post_comment.comment %></td>
  </tr>
</table>
<% end %>
 
</div> 