<!DOCTYPE html>
<html>
  <head>
    <title>Communitycommit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header>
<div class = "text-center mt-3 pb-2 bg-primary text-white"><h1>CommunityCommit</h1>
<h3>コミュニティコミット</h3></div>
  <nav class=" navbar navbar-expand-lg navbar-dark bg-white">
    <div class="text-center collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar navbar-light " style="background-color: #e3f2fd;">
        <% if user_signed_in? %>
          <%= link_to "トップ", root_path, class: 'btn btn-info mr-4' %>        
          <%= link_to "マイページ",users_user_path(current_user.id), class: 'btn btn-info mr-4' %>
          <%= link_to "コミュニティ",users_communities_path, class: 'btn btn-info mr-4' %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-info' %>
        <% elsif admin_signed_in? %>
          <%= link_to "トップ", root_path, class: 'btn btn-info mr-4' %>
          <%= link_to "コミュニティ一覧", admins_communities_path, class: 'btn btn-info mr-4' %>
          <%= link_to "会員一覧", admins_communities_path, class: 'btn btn-info mr-4' %>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-info' %>
        <% end %>
       </ul>
    </div>
  </nav>
</header> 
    
    <%= yield %>
    
<footter>
<div class = "text-center mt-5 pt-1 pb-2 bg-primary text-white"><h3>CommunityCommit</h3>
</div>
</footter>
    
    
  </body>
</html>
