<!DOCTYPE html>
<html>
  <head>
    <title>Communitycommit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-white">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li><%= link_to "トップ", root_path, class: 'btn btn-secondary' %></li>        
          <li><%= link_to "マイページ", class: 'btn btn-secondary' %></li>
          <li><%= link_to "コミュニティ", class: 'btn btn-secondary' %></li>
          <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'btn btn-secondary' %></li>
        <% elsif admin_signed_in? %>
          <li><%= link_to "トップ", root_path, class: 'btn btn-secondary' %></li>
          <li><%= link_to "コミュニティ一覧", admins_communities_path, class: 'btn btn-secondary' %></li>
          <li><%= link_to "会員一覧", admins_communities_path, class: 'btn btn-secondary' %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-secondary' %></li>
        <% end %>
       </ul>
    </div>
  </nav>
</header> 
    
    <%= yield %>
  </body>
</html>
