<!DOCTYPE html>
<html>
  <head>
    <title>Communitycommit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
<body class="jumbotron jumbotron-fluid" style="background: url(<%= asset_path "background-sky.jpg" %>); background-size:content; background-attachment:fixed; ">
 
<header>
　　<nav class="navbar navbar-expand-sm">
    
        <div class="collapse navbar-collapse justify-content-center">
              <a href="/"><%= image_tag 'logo.l.png', size: '160x110', class: "navbar-brand logo justify-content-left", alt: "ヘッダーロゴ" %></a>　　          
            <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active"><%= link_to "トップ", root_path, class: 'btn btn-info btn-lg mr-4' %></li>        
          <li class="nav-item active"><%= link_to "マイページ",users_user_path(current_user.id), class: 'btn btn-info btn-lg mr-4' %></li> 
          <li class="nav-item active"><%= link_to "コミュニティ一覧",users_communities_path, class: 'btn btn-info btn-lg mr-4' %></li> 
          <li class="nav-item active"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-info btn-lg mr-4' %></li>
          <li class="nav-item active"><%= render 'layouts/search' %></li>
        <% elsif admin_signed_in? %>
          <li class="nav-item active"><%= link_to "トップ", root_path, class: 'btn btn-info btn-lg mr-4' %></li> 
          <li class="nav-item active"><%= link_to "コミュニティ一覧", admins_communities_path, class: 'btn btn-info btn-lg mr-4' %></li> 
          <li class="nav-item active"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-info btn-lg' %></li>
          <h3 class="nav-item text-warning ml-5"><strong>管理者としてログイン中<strong></h3>
        <% else %> 
         <div class = "text-center text-light">
         <h1 class="fw-lighter"> CommunityCommit</h1>
         <h3><strong>コミュニティコミット</strong></h3></div>  
        <% end %>
       </ul>
    </nav>
 </div>
</header> 

 <div class="container pt-3 pb-3 pl-3 pr-3">
    <%= yield %>
 </div>
 

<footer class = "mt-5">
 <div class = "text-center text-primary"> <a href="mailto:comcom@example.com?subject=コミコミお問い合わせ">お問い合わせ</a></div>  
 <%= link_to root_path do %>
 <div class = "text-center text-primary"><h3>CommunityCommit</h3></div>
  <% end %> 
</footer>

</body>
</html>
