<% if @user == current_user %> 
<div class ="row">
 <div class="col">
   
    <h3 class="text-center"><strong>登録情報編集</strong></h3>
    
    <%= form_for @user , url:users_user_path(@user.id),html: { class: "pt-4" } do |f| %>

    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>氏名</th>
          <td><%= f.text_field :name, autofocus: true, autocomplete: "name"%></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= f.text_field :postal, autofocus: true, autocomplete: "postal" %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= f.text_field :adress, autofocus: true, autocomplete: "adress", :size=>"65" %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"65"%></td>
        </tr>
      </tbody>
    </table>
 
<%= f.submit "変更内容を保存", class: "btn btn-success btn-block btn-lg" %>
 
      <% end %>
      
  </div>
</div>

 <% else %>
<div class ="row">
 <div class="col">
         <div class = "text-center">
         <h3><strong>ほかのユーザーの情報は見れません</strong></h3></div>  
  </div>
</div>
 <% end %> 
