<% if @user == current_user %> 
<div class="row border-bottom border-info mb-5">
  <div class="col">
   <p id="notice"><%= notice %></p> 
  <h4><strong>登録情報</strong></h4>
  　
  <table class="table table-bordered bg-light">
    <tbody>
      <tr>
      　<th class="bg-light">氏名</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th class="bg-light">郵便番号</th>
        <td><%= @user.postal %></td>
        </tr>
      <tr>
        <th class="bg-light">住所</th>
        <td><%= @user.adress %></td>
      </tr>
      <tr>
        <th class="bg-light">電話番号</th>
        <td><%= @user.phone_number %></td>
      </tr>
      <tr>
        <th class="bg-light">メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
    </tbody>
  </table>
    <%= link_to "編集する", edit_users_user_path(@user),class: "btn btn-success btn-block" %>
　</div>  
</div>

<div class="row mt-3">
 <div class="col">
  <table class="table table-bordered bg-light">
    <tbody>  
    <th>所属しているコミュニティ</th>
      <% @user.belongs.each do |user| %>    
       <tr>
        <td><%= link_to users_community_path(id: user.community.id) do %><%= user.community.name %><% end %></td>
       </tr>
      <% end %>       
     </tbody>
  </table>
  </div>  
 </div>
 <% else %>
<div class ="row">
 <div class="col">
         <div class = "text-center">
         <h3><strong>ほかのユーザーの情報は見れません</strong></h3></div>  
  </div>
</div>
 <% end %> 
