<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      <h3 class="text-center bg-light"><strong>コミュニティページ</strong></h3>
    </div>
  </div>

  <div class="row make">
    <div class="col-5">
      <table class="table table-borderless">
        <tr>
          <td><h5><strong>登録情報</strong></h5></td>
        </tr>
      </table>
    </div>
  </div>

<div class="row">
 <div class="col-9">
   <table class="table table-bordered">
    <tbody>
      <tr>
       <th class="bg-light">コミュニティ名</th>
       <td><%= @community.name %></td>
       </tr>
       <tr>
        <th class="bg-light">概要説明</th>
        <td><%= @community.introduction %></td>
       </tr>
      </tbody>
    </table>
     <%= link_to "編集する", edit_admins_community_path(@community), class: "btn btn-success mb-5" %>
   </div> 
 </div>
 
<div class="row">
 <div class="col-9">
<h5><strong>お知らせ掲示板</strong><%= link_to "全てを表示", admins_community_posts_path(@community), class: "btn btn-success ml-2" %></h5>


   <table class="table table-bordered">
    <tbody>
      <tr> 
     <% @posts.each do |post| %>
     <td><%= link_to  admins_community_post_path(post.id) do %><%= post.title %><% end %></td>
     <th><%= post.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M:%S') %></th>
     <% end %>
      </tr>
     </tbody>
    </table>
 
 <%= link_to "お知らせ作成", new_admins_community_post_path(@community), class: "btn btn-success" %>
</div>
