<div class="row">
  <div class="col-md-5">
    <h3 class="text-center"><strong>コミュニティページ</strong></h3>
  </div>
</div>
 
<div class="row">
 <div class="col-9">
 <h5><strong>登録情報</strong></h5>
   <table class="table table-bordered bg-light">
    <tbody>
      <tr>
       <th>コミュニティ名</th>
       <td><%= @community.name %></td>
       </tr>
       <tr>
        <th>概要説明</th>
        <td><%= @community.introduction %></td>
       </tr>
      </tbody>
    </table>
     <%= link_to "編集する", edit_admins_community_path(@community), class: "btn btn-success btn-block mb-5" %>
 </div>
</div>

<div class="row">
 <div class="col-9">
   <h5><strong>お知らせ掲示板</strong><%= link_to "全てを表示", admins_community_posts_path(@community), class: "btn btn-success ml-2" %></h5>

   <table class="table table-bordered">
    <tbody>
     <% @posts.each do |post| %>
     <% if post.in_front == true %>
     <tr class="bg-light"> 
     <td><%= link_to  admins_community_post_path(community_id: post.community_id, id: post.id)  do %><%= post.title %><% end %></td>
     <th><%= post.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M:%S') %></th>
      </tr>
      <% end %> 
     <% end %>     
     </tbody>
    </table>
    
 <%= link_to "お知らせ作成", new_admins_community_post_path(@community), class: "btn btn-success btn-block" %>
  </div>
 </div>

 <div class="row mt-5">
  <div class="col-9">
   <div class="panel-group mt-3" id="accordion">
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <strong>所属人数<%= @community.belongs.count %>人</strong>  
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">▼</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse in">
      <div class="panel-body bg-light">
        <% @community.belongs.each do |community| %>    
        <h5 class="ml-3"><%= link_to admins_user_path(id: community.user.id) do %><%= community.user.name %><% end %></h5>
        <% end %>
     </div>
    </div>
  </div>
 </div> 
</div>
</div>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Deadline</th>
      <th>Community</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionaries.each do |questionary| %>
      <tr>
       <% if questionary.community_id == @community.id %>
        <td><%= questionary.title %></td>
        <td><%= questionary.description %></td>
        <td><%= questionary.deadline %></td>
        <td><%= questionary.community_id %></td>
        <td><%= link_to 'Show', questionary %></td>
        <td><%= link_to 'Edit', edit_questionary_path(questionary) %></td>
        <td><%= link_to 'Destroy', questionary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Questionary', new_questionary_path %>